
{% extends 'home.html' %}

{% block body %}
{% load static %}
 <section class="my-5 hero">
     <div class="container">
       <div class="row">
         <div class="mb-3 m-auto col-md-6">
           <center>
             <h1 class="text-primary">আমার স্কুল</h1>
             <h5 class="text-dark">এখন স্কুল অথবা শিক্ষা প্রতিষ্ঠান ম্যানেজ করুন খুব সহজেই। মাইস্কুল এর মাধ্যমে!</h5>
             
             <div class="">
               
               <a class="btn btn-primary" href="/register">রেজিস্টার</a>
                              <a class="btn btn-outline-secondary" href="">ডেমো</a>
               
             </div>
           </center>
         </div>
         
         <div class="order-md-first m-auto col-md-6">
           
           
           <center>
             <img class="img-fluid" src="{% static '/img/school.png'' %}" alt="">
           </center>
           
         
         </div>
       </div>
     </div>
     
   </section>
   
   
   <section class=" text-center my-5 features">
     <div class="container">
     <h4 class="py-5 text-primary">আমাদের ফিচারস
     <br>
     <hr class="my-2">
     </h4>
     
     
     
     <div class="row">
       
       <div class="m-auto col-md-6">
         <h3 class="text-primary">অনলাইন কুইজ এক্সাম</h3>
         <h6 class="p-3 text-dark">ছাত্রছাত্রীরা লগইন করে বিভিন্ন বিষয়ের উপর কুইজ এক্সাম দিতে পারবে। শিক্ষকরা তাদের ড্যাশবোর্ড থেকে কুইজ আপলোড করতে পারবে!</h6>
       </div>
       
       <div class="col-md-6">
         <img class="img-fluid" src="{% static '/img/mobilefrndly.png' %}" alt="">
       </div>
       
    
     
     
     <div class="m-auto my-3 col-md-6">
              <img class="img-fluid" src="{% static '/img/website.png'' %}" alt="">
            
       
     </div>
     
     <div class="m-auto col-md-6">
       
       <h3 class="text-primary">ডায়নামিক স্কুল ওয়েবসাইট</h3>
              <h6 class="p-3 text-dark">
                আমার স্কুলে পাবেন রেসপন্সিভ স্কুল ওয়েবসাইট যেখানে থাকবে আপনার স্কুলের সকল তথ্য, ছবি, নোটিস এবং আরো অনেক কিছু!
              </h6>
       
       
      
     </div>
     
     
     <div class="m-auto col-md-6">
      <h3 class="text-primary">অটো এডমিট কার্ড ও রেজাল্ট তৈরি</h3>
      
    
      
      <h6 class="p-3 text-dark">
        এডমিট কার্ড বা রেজাল্ট শিট ডিজাইন বা তৈরি নিয়ে আর কোন ঝামেলা নেই। আমাদের সফটওয়্যারে পাচ্ছেন অটোমেটিক এডমিট কার্ড ও রেজাল্ট তৈরি করার ফিচার!
      </h6>
     </div>
     
     <div class="col-md-6">
       
        <img class="img-fluid" src="{% static '/img/autogen.png'' %}" alt="">
        
     </div>
     
     
     <div class="col-md-6">
       <img class="img-fluid" src="{% static '/img/more.png'' %}" alt="">
     </div>
     
     <div class="m-auto col-md-6">
      <h3 class="text-primary">এখানেই শেষ নয়!</h3>
      
      <h6 class="text-primary p-3">
        এখানেই শেষ নয়। আমাদের আছে আরো অনেক ফিচারস! যেমন স্টুডেন্ট, টিচার, ইম্পলয়ি, স্কুল ফি ইত্যাদি ম্যানেজ করার ফিচারস এবং নিয়মিত আমরা ফিচারস আপডেট করে যাচ্ছি!
      </h6>
     </div>
     
     <div class="my-5">
       
     </div>
     
     
     
     </div>

     </div>
   </section>
   
   <section class="bg-body-tertiary text-center my-5 pricing">
     <div class="container">
       
       <h4 class="text-primary p-5">আমাদের প্রাইসিং
       
       <hr class="my-2"></h4>
       <div class="row">
         
         <div class="col-md-4">
           <div class="m-3 p-3 img-thumbnail card-body p-3 bg-white">
             
             <h5 class="mb-3 text-dark">ডেমো</h5>
             
             <h2 class="text-primary">০ ৳</h2>
             
             <img class="img-fluid w-75" src="{% static '/img/pay.png'' %}" alt="">
             
             <h6 class="my-3 text-dark p-3">প্রথম মাস ব্যাবহার করুন একদম ফ্রীতে! পে করুন পরের মাস থেকে!</h6>
             
             
             <a class="btn btn-outline-primary" href="">শুরু করুন</a>
            
             
           </div>
         </div>
         
         <div class="col-md-4">
         
         
                    <div class="img-thumbnail m-3 p-3 card-body p-3 bg-white">
         
                      <h5 class="mb-3 text-dark">মাসিক</h5>
         
                      <h2 class="text-primary">৫০০ ৳</h2>
                      
                       <img class="img-fluid w-75" src="{% static '/img/monthly.png'' %}" alt="">
         
                      <h6 class="text-dark my-3 p-3">প্রতি মাসে পে করুন মাত্র ৫০০ টাকা এবং উপভোগ করুন আমাদের সফটওয়্যার!</h6>
         
         
                      <a class="btn btn-primary" href="">শুরু করুন</a>
         
         
                    </div>
         
         
         
         </div>
         
         <div class="col-md-4">
                    <div class="img-thumbnail m-3 p-3 card-body p-3 bg-white">
         
                      <h5 class="mb-3 text-dark">বাৎসরিক</h5>
         
                      <h2 class="text-primary">৫৫০০ ৳</h2>
                      
                       <img class="img-fluid w-75" src="{% static '/img/yearly.png'' %}" alt="">
         
                      <h6 class="text-dark my-3 p-3">৫৫০০ টাকায় পেয়ে যাচ্ছেন আমাদের সফটওয়্যার পুরো এক বছরের জন্য!</h6>
         
         
                      <a class="btn btn-outline-primary" href="">শুরু করুন</a>
         
         
                    </div>
         </div>
         
       </div>
     </div>
   </section>
   
   
   


{% endblock %}
