{% extends 'home.html' %}
{% load static %}

{% block bodyclass %} bg-light {% endblock %}
{% block body %}

  <section class="vh-100">
    
 
 <div class="mt-5 d-flex h-75 justify-content-center align-items-center container">
   
  
   
   <div class="m-2 p-4 card-body bg-white">
     <h4 class="my-3 text-center text-primary">রেজিষ্ট্রেশন
     </h4>
     {% if messages %}
        {% for message in messages %}
         
          <div class="alert alert-{{message.tags}}" role="alert">
    {{message}}
</div>

        {% endfor %}
    {% endif %}
     <div class="row">
       
       <div class="text-center col-md-6">
        <img class="w-sm-50 img-fluid" src="{% static '/img/login.png' %}" alt="">
       </div>
       
       <div class="m-auto text-center col-md-6">
         
        
         <form method="post" action={% url 'register' %}>
             {% csrf_token %}
           <input name="school" placeholder="স্কুলের নাম" class="form-control" type="text">
           <br>
           <input class="form-control" type="text" name="phone" placeholder="ফোন নাম্বার" />
           <br>
           <input class="form-control" type="email" name="email" placeholder="ইমেইল" />
           <br>
           <div class="d-flex">
             <input class="me-2 form-control" type="password" name="p1" id="" placeholder="পাসওয়ার্ড" />
          
             <input class="form-control" type="password" name="p2" id="" placeholder="কনফার্ম পাসওয়ার্ড" />
             
           </div>
           <br>
          <button class="w-100 btn btn-primary" type="submit">সাবমিট করুন</button>
          
          <label class="my-2">অলরেডি একাউন্ট আছে? <a href="/login">লগইন করুন</a></label>
           
         </form>
       </div>
       
     </div>
     
     
  
        </div>
      
    </div>

  </section>


{% endblock %}
