{% extends 'dashboard/dashboard.html' %}


{% block body %}
<div class="row">


<div class="mb-2 col-md-4">
<div class="rounded container text-white card-body bg-info p-3 text-center">

<div class="d-flex">
<i style="font-size: 50px;"  class="my-auto bi bi-people-fill"></i>
<h5 class="my-auto"> Total Users <br> 100 </h5>
</div>


</div>
</div>

<div class="mb-2 col-md-4">
<div class="rounded container text-white card-body bg-danger p-3 text-center">

<div class="d-flex">
<i style="font-size: 50px;"  class="my-auto bi bi-cash-stack"></i>
<h5 class="my-auto ms-1">Todays Fees
<br>Collection <br> ৳5400</h5>
</div>


</div>
</div>

<div class="col-md-4">
<div class="rounded container text-white card-body bg-success p-3 text-center">
<div class="d-flex">
<i style="font-size: 50px;"  class="my-auto bi bi-people-fill"></i>
<h5 class="my-auto"> Total Users </h5>
</div>
</div>
</div>


</div>
{% endblock %}
