{% extends 'dashboard/dashboard.html' %}


{% block body %}
<div class="col-md-12">

<section class="container">

    <div class="p-5 card-body bg-white">
        <h4 class="my-2 text-center text-dark">
            Account Info
        </h4>

        <form id="frm" enctype="multipart/form-data" onsubmit="submitForm()">
            <small>Name:</small>
            <input class="form-control my-1" type="text" name="name" value="{{request.user.name}}">
            <small>Username:</small>
            <input class="form-control my-1" type="text" name="un" value="{{request.user.username}}">
            <small>Phone:</small>
            <input class="form-control my-1" type="text" name="number" value="{{request.user.number}}">
            <small>Logo:</small>
            <input class="form-control my-1" type="file" name="logo">
            <br> <input type="hidden" value={{request.user.username}} name="clg">
            <button id="svbtn" type="submit" class="w-100 btn btn-dark">Save</button>
        </form>
    </div>


    <br>

    <div class="p-5 card-body bg-white">
        <h4 class="my-2 text-center text-dark">
            School Info
        </h4>

        <form id="frm1" onsubmit="submitFormx()">
            <small>Slogan:</small>
            <input class="form-control my-1" type="text" name="slogan" value="{{si.slogan}}">
            <small>Facilities:</small>
           <textarea name="facilities" class="form-control my-1" rows="3" placeholder="Write Facilities..">{{si.facilities}}</textarea>
            <small>Admission:</small>
            <textarea name="addmission" class="form-control my-1" rows="3" placeholder="Admission Info..">{{si.admission}}</textarea>
            <small>Adress:</small>
            <input class="form-control my-1" type="text" name="address" value="{{si.address}}">
        <input type="hidden" value={{request.user.username}} name="clg1">    
            <br>
            <button id="svbtn1" type="submit" class="w-100 btn btn-dark">Save</button>
        </form>
    </div>



  </section>
</div>

<script>

function submitForm() {
    event.preventDefault(); // Prevent default form submission
    var btn = document.getElementById('svbtn');
    btn.disabled = true;
    btn.innerText = "Submitting..";
    var form = document.getElementById('frm');
    var formData = new FormData(form);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', "/dashboard/school-info", true);

    // Add CSRF token to request headers
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
          
               btn.disabled = false;
               btn.innerText = "Saved!"
               btn.innerText = "Save"
            } else {
                document.getElementById("myForm").reset();
                btn.disabled = false;
               btn.InnerText = "Save"
            }
        }
    };
    xhr.send(formData);
}




function submitFormx() {
    event.preventDefault(); // Prevent default form submission
    var btn = document.getElementById('svbtn1');
    btn.disabled = true;
    btn.innerText = "Submitting..";
    var form = document.getElementById('frm1');
    var formData = new FormData(form);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', "/dashboard/school-info/update", true);

    // Add CSRF token to request headers
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {

               btn.disabled = false;
               btn.innerText = "Saved!"
               btn.innerText = "Save"
            } else {
     
                btn.disabled = false;
               btn.InnerText = "Save"
            }
        }
    };
    xhr.send(formData);
}




// Function to retrieve CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

{% endblock %}
