{% extends 'dashboard/dashboard.html' %}


{% block body %}
<div class="col-md-12">

<section class="vh-100">


 <div class="mt-5 d-lex h-75 justify-content-center align-items-center">
<div class="text-end">
<button type="button" class="btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-plus-circle-fill"></i> Routine
</button>
<a href="routine/view" class="btn btn-secondary my-2">
    <i class="bi bi-eye"></i> View Routine
</a>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Routine</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="frm" onsubmit="submitForm()">

          <select name="c" class="form-control">
        <option selected disabled>Choose class..</option>
        
        {% for class in classes %}  
        <option value={{class.id}}>{{class.name}}</option>
         {% endfor %}
      </select> <br>

         <select name="s" multiple  class="form-control">
        <option selected disabled>Choose section..</option>

        {% for s in sections %}
        <option value={{s.id}}>{{s.name}}</option>
         {% endfor %}
      </select> <br>
        
         <select name="sub"  class="form-control">
        <option selected disabled>Choose subject..</option>

        {% for sub in subjects %}
        <option value={{sub.name}}>{{sub.name}}</option>
         {% endfor %}
      </select> <br>

               <select name="d" multiple  class="form-control">
        <option selected disabled>Choose days..</option>

        {% for day in days %}
        <option value={{day.id}}>{{day.name}}</option>
         {% endfor %}
      </select> <br>
   <small>Enter class start time</small>
     <input type="time" name="st" class="form-control">
<br>
    <small>Enter class end time</small>
     <input type="time" name="en" class="form-control">
            
           <br>
<input class="form-control" type="text" name="p" placeholder="Which period? Ex:1st">
<br>
          <input class="form-control" type="text" name="t" placeholder="Teacher name">
          
            <input type="hidden" name="clg" value="{{request.user.username}}">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="svbtn" type="submit" class="btn btn-dark">Save</button>
      </form>
       </div>
    </div>
  </div>
</div>



   <div class="card-table card-body bg-white">
    {% if messages %}
        {% for message in messages %}

          <div class="alert alert-dismissible  alert-{{message.tags}}" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert"></button>

    {{message}}
</div>

        {% endfor %}
    {% endif %}


<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Class</th>
      <th scope="col">Subject</th>
      <th scope="col">Section</th>
      <th scope="col">Period & Time</th>
      <th scope="col">Weekdays</th>
      <th scope="col">Teacher</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>

    {% for r in routine %}
    <tr>
      <td>{{r.clas.name}}</td>
      <td>{{r.sub}}</td>

      <td>{{r.sec.name}}</td>
      <td>{{r.period}}({{r.start}}-{{r.end}})</td>
      <td> {% for w in r.week.all %}
            {{w.name}}{% endfor %}</td>
      <td>{{r.teacher}}</td>

      <td>
        <a href="/dashboard/routine?delete={{r.id}}"><i class="text-danger bi bi-trash-fill"></i></a>
      </td>
    </tr>
    {% endfor %}
   </thead>
  </table>





        </div>

    </div>

  </section>
</div>

<script>

function submitForm() {
    event.preventDefault(); // Prevent default form submission
    var btn = document.getElementById('svbtn');
    btn.disabled = true;
    btn.InnerText = "Submitting..";
    var form = document.getElementById('frm');
    var formData = new FormData(form);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', "/dashboard/routine", true);

    // Add CSRF token to request headers
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
               document.getElementById("frm").reset();
               btn.disabled = false;
               btn.InnerText = "Save"
            } else {
                document.getElementById("myForm").reset();
                btn.disabled = false;
               btn.InnerText = "Save"
            }
        }
    };
    xhr.send(formData);
}

// Function to retrieve CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

{% endblock %}
