          
{% extends 'dashboard/dashboard.html' %}


{% block body %}
<div class="col-md-12">

<section class="vh-100">


 <div class="mt-5 d-lex h-75 justify-content-center align-items-center">
<div class="text-end">
<button type="button" class="btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bi bi-plus-circle-fill"></i> Student
</button>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="frm" onsubmit="submitForm()"  enctype="multipart/form-data">
         
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" id="image" name="im" accept="image/*">
            </div>
            <div class="form-group">
                <label for="fname">Father's Name</label>
                <input type="text" class="form-control" id="fname" name="fname" required>
            </div>
            <div class="form-group">
                <label for="mname">Mother's Name</label>
                <input type="text" class="form-control" id="mname" name="mname" required>
            </div>
            <div class="form-group">
                <label for="clas">Class</label>
    
                <select class="form-control" id="clas" name="clas" required>
                    {% for c in classes %}
                    <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
               
              
                </select>
            </div>
            <div class="form-group">
                <label for="section">Section</label>
        
            
                <select class="form-control" id="section" name="section" required>

                    {% for sec in sections %}
                    <option value="{{sec.id}}">{{sec.name}}</option>
                      {% endfor %}
        
                </select>
            </div>
            <div class="form-group">
                <label for="roll">Roll</label>
                <input type="text" class="form-control" id="roll" name="roll" required>
            </div>
            <div class="form-group">
                <label for="due_date">Due Date</label>
                <input type="date" class="form-control" id="due_date" name="due_date" required>
            </div>
            <div class="form-group">
                <label for="blood">Blood Type</label>
                <input type="text" class="form-control" id="blood" name="blood" required>
            </div>
            <div class="form-group">
                <label for="join">Join Date</label>
                <input type="date" class="form-control" id="join" name="join" required>
            </div>
            <div class="form-group">
                <label for="dob">Birth Date</label>
                <input type="date" class="form-control" id="dob" name="dob" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
        
                <select name="gender" class="form-control" id="gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
            </div>
           <input type="hidden" name="clg" value={{request.user.username}}>       


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="svbtn" type="submit" class="btn btn-dark">Save</button>
      </form>
       </div>
    </div>
  </div>
</div>

 </div>
   <div class="card-table card-body bg-white">
    {% if messages %}
        {% for message in messages %}

          <div class="alert alert-dismissible  alert-{{message.tags}}" role="alert">
<button type="button" class="btn-close" data-bs-dismiss="alert"></button>

    {{message}}
</div>

        {% endfor %}
    {% endif %}


<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Image</th>
      <th scope="col">Name</th>
     <th scope="col">Father</th>
      <th scope="col">Mother</th>
      <th scope="col">Gender</th>
      <th scope="col">Class</th>
      <th scope="col">Section</th>
    </tr>
  </thead>
  <tbody>

    {% for s in stud %}
    <tr>
      <td>{% if s.image %} <img class="st my-auto img-fluid" 
        src="{{s.image.url}}"
        alt="avatar" /> {% else %}<img class="st my-auto img-fluid" 
  src="https://api.dicebear.com/7.x/adventurer/svg?seed={{s.name}}"
  alt="avatar" />{% endif %}</td>
      <td>{{s.name}}</td>

      <td>{{s.fname}}</td>
      <td>
       {{s.mname}}
      </td>
<td>
       {{s.gender}}
      </td>
<td>
       {{s.clas.name}}
      </td>

<td>
       {{s.sec.name}}
      </td>
    </tr>
    {% endfor %}
   </thead>
  </table>





        </div>

    </div>

  </section>
</div>

<script>

function submitForm() {
    event.preventDefault(); // Prevent default form submission
    var btn = document.getElementById('svbtn');
    btn.disabled = true;
    btn.InnerText = "Submitting..";
    var form = document.getElementById('frm');
    var formData = new FormData(form);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', "/dashboard/student", true);

    // Add CSRF token to request headers
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
               document.getElementById("frm").reset();
               btn.disabled = false;
               btn.InnerText = "Save"
            } else {
                document.getElementById("myForm").reset();
                btn.disabled = false;
               btn.InnerText = "Save"
            }
        }
    };
    xhr.send(formData);
}
// Function to retrieve CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

{% endblock %}
